body {
    margin: 0;
    height: 100vh;
}

#mainContainer {
    height: 80%;
}

.fullHeight {
    height: 100%;
}

.pointCard {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.pointCard input {
    display: none;
}